<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">ICNFA 2017:</p>
      <p class="body">ICNFA 2017 will  be held in Rome, Italy on June 6 - 8, 2017.</p>


      <p class="bold">Deadline Extension:</p>
      <p class="body">Due to the popular request, the paper submission deadline is extended to March 24, 2017. This is the final deadline extension and the deadlines will not be extended anymore.</p>

      
      <p class="bold">SNAL Workshop</p>
      
      <p class="body">International ASET Inc. is proud to present EU funded <a href="http://www.itn-snal.net" target="_blank">Initial Training Network SNAL</a> as the organizer of a dedicated workshop for the 3rd World Congress on New Technologies (NewTech'17)</p>

      <cenet><p class="body" style="text-align: center!important;"><b>Coordinator of SNAL and organizer of the workshop:</b> Dr. Vladimir Baulin,<i>Universitat Rovira i Virgili, Spain</i></p>
      <cenet><p class="body" style="text-align: center!important;"><b>Topic of Workshop:</b> <i>Smart Nano-objects for Alteration of Lipid bilayers (SNAL)</i></p>

      <p class="body">The workshop will be held on <b>June 6<sup>th</sup>, 2017</b> from <b>1 pm - 5 pm.</b> Registration for the workshop will be <i>122 EURs (VAT included)</i> and separate from the main conferences. Workshop attendees will receive a certificate of participation.</p>

      <p class="body">For registration, please visit: <a href="../registration" class="body-link">here.</a></p>

      <p class="body">For more information about the workshop and the speaker, please visit:  <a href="http://newtechcongress.com/workshop" class="body-link" target="_blank">here.</a></p>



      <!--p class="body">As per popular request, the organizing committee has decided to extend the NewTech'17 congress to three days (now June 6 - 8, 2017). The new high-level schedule is as follows:</p>

      <ul>
        <li>Day 1: Workshop(s) and Registration</li>
        <li>Day 2: Main Track Conference Sessions</li>
        <li>Day 2: Main Track Conference Sessions and Gala dinner or Cruise tour</li>
      </ul>
      
      <p class="body">Registration for the workshop will be 122 EURs (VAT included) and separate from the main conferences. Workshop attendees will receive a certificate of participation. For registration, please visit: <a href="../registration" class="body-link">here</a>.</p>

      <p class="body">More information to follow; we greatly appreciate your patience!</p-->


    </div>       

    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>

    <div>
      <h2 class="title">3</h2>
      <p class="bold">Propose Exhibits, Workshops & More</p>
      <p class="body">ICNFA attracts a wide range of researchers in the field of nanotechnology. As a prominent company in the field of nanotechnology, we would like to offer you an exhibit at ICNFA. Please visit <a href="../events" class="body-link">Events</a> for more information.</p>
    </div>
</div>