<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">ICNFA 2017:</p>
      <p class="body">ICNFA 2017 will  be held in Rome, Italy on June 7 - 8, 2017.</p>
      
      <!-- <p class="bold">ICNFA'16 Symposiums:</p>
      <p class="body">The Organizing Committee has selected the following fields for specialized and focused symposiums under the umbrella of ICNFA'16:</p>
      <ul>
        <li><a href="/fmrr" class="body-link">Functional Materials from Renewable Resources: Synthesis, Properties and Applications</a></li>
      </ul>
      <p class="body">If you are interested of your article to be part of the above-mentioned symposiums, please inform us when submitting your article. Please visit <a href="../symposium" class="body-link">Symposiums</a> for more information.</p> -->
    </div>       

    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>

    <div>
      <h2 class="title">3</h2>
      <p class="bold">Propose Exhibits, Workshops & More</p>
      <p class="body">ICNFA attracts a wide range of researchers in the field of nanotechnology. As a prominent company in the field of nanotechnology, we would like to offer you an exhibit at ICNFA. Please visit <a href="../events" class="body-link">Events</a> for more information.</p>
    </div>
</div>